a {
        color: #56ABF0;
        text-decoration: none;
}

a:hover, a:focus {
	         color: #f7841e;
                 text-decoration:none;
}

body {
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6 {
        font-family: 'Asap', sans-serif;
        color: #3B3B3B;
}
.btn {
  border-radius: 3em;
}

.btn-primary {
        background-image: -webkit-linear-gradient(top,#56ABF0 0%,#3C91D6 100%);
	background-image: linear-gradient(to bottom,#56ABF0 0%,#3C91D6 100%);
        background-color: #56abf0;
        background-repeat: repeat-x;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover, .btn-primary:focus {
	background-image: -webkit-linear-gradient(top,#5faeee 0%,#2d84cb 100%);
	background-image: linear-gradient(to bottom,#5faeee 0%,#2d84cb 100%);
	background-repeat: repeat-x;
	background-color: #5faeee;
        background-position: 0px;
}
.btn-primary:active, .btn-primary.active {
	background-color: #2d6ca2;
	border-color: #2b669a
}

.container {
  max-width: 900px;
}
.container-alternate {
        background: #F5F5F5;
}
.navbar {
  background: #2D2D2D;
  padding: 0px;
  overflow: hidden;
}
.navbar .navbar-brand {
  color: #C4C4C4;
  font-weight: normal;
  font-size: 175%;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
        color: #fff;
}
.navbar ul.nav li a {
  color: #C4C4C4;
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0 1.5em 1.5em 1.5em;
  padding-bottom: 0;
}
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
  color: #fff;
}

.navbar ul.nav li {
	border-right: 1px solid #3b3b3b
}
.navbar ul.nav li:hover {
	background: #3B3B3B
}
.navbar ul.nav li button {
	margin: .7em 0 0 1em
}

.navbar ul.nav li button {
  margin: 0.7em 0 0 1em;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover {
        border-color: #ffc;
}
.navbar-default .navbar-toggle .icon-bar {
        background-color: #ffc;
}
.jumbotron {
  background: #F5F5F5;
  padding: 4.5em 0 3.5em;
  text-align: center;
  margin-bottom: 0;
}
.jumbotron h1 {
  font-size: 2.5em;
}
.jumbotron h2 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}
.jumbotron .btn {
  font-size: 1.2em;
  padding: 0.3em 2.5em 0.5em;
}
.jumbotron .btn .fa {
  margin-left: 0.2em;
  position: relative;
  top: 3px;
}
.subhead {
  font-size: 2em;
  text-align: center;
  margin: 2em 0 0.5em;
}
.highlights {
  margin-bottom: 3em;
}
.highlight {
  margin: 1em 0;
  text-align: center;
}
.highlight .highlight-ball {
  background: #246EAB;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  line-height: 1em;
  padding: 3em;
}
.highlight .highlight-ball:hover {
        background: #4196DB;
        cursor: pointer;
}
.highlight .highlight-ball .fa {
  font-size: 3em;
  position: relative;
  top: -3px;
  right: 1px;
}
.highlight h3 {
  font-size: 1.5em;
}

.why, .getting-started {
  margin-bottom: 3em;
}
.why p {
  line-height: 1.5em;
  margin: 1.2em 0;
  text-align:justify;
}

.news h4 {
        border-bottom: 1px solid #f0f0f0;
}

.news p {
        margin-bottom: 2em;
}

.eol {
        margin-bottom: 15em;
}

.contact p {
  line-height: 1.5em;
  margin: 1em 0;
}

footer {
  background: #1E1E1E;
  color: #585858;
  padding: 1.5em 0 0.8em;
  font-size: 0.75em;
}

footer a, footer a:hover {
  color: #585858;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 7px 15px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #000;

        background: rgba(51, 51, 51, 0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	top: -7px;
	left: -7px;
	padding: 7px;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

.hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.hi-icon:before {
	speak: none;
	font-size: 24px;
	line-height: 45px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon.fa-twitter:after {
        box-shadow: 0 0 0 4px #55acee;
}
.hi-icon.fa-twitter:hover {
        background: rgba(85,172,238,1);
        color: #055c9e;
}

.hi-icon.fa-github:after {
        box-shadow: 0 0 0 4px rgb(51, 51, 51);
}
.hi-icon.fa-github:hover {
        background: rgba(51, 51, 51,1);
        color: #fff;
}

.hi-icon.fa-envelope:after {
        box-shadow: 0 0 0 4px rgb(0, 75, 129);
}
.hi-icon.fa-envelope:hover {
        background: rgba(0, 75, 129, 1);
        color: rgb(234, 123, 23);
}

.hi-icon.fa-home:after {
        box-shadow: 0 0 0 4px rgb(234, 123, 23);
}
.hi-icon.fa-home:hover {
        background: rgba(234, 123, 23, 1);
        color: #004B81;
}

.hi-icon.fa-users:after {
        box-shadow: 0 0 0 4px rgb(0, 129, 75);
}
.hi-icon.fa-users:hover {
        background: rgba(0, 129, 75, 1);
        color: rgb(0, 255, 150);
}

@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .jumbotron {
    font-size: 14px;
    padding: 6em 0 4em;
  }
  .highlight {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
  }
  .jumbotron .btn-lg {
    font-size: 20px;
  }
  footer .pull-right {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #cccccc;
}

.jumbotron p.small {
        font-size: 85%;
}

.jumbolinks a {
        margin-left: 1em;
        margin-right: 1em;
}

dd {
        margin-left: 1em;
}

dt {
        margin-top: 2em;
        margin-bottom: 1em;
}

.tab-pane {
        margin-top: 1em;
}
